<h1>You have signed in with: {{signinOrigin || "Loading..."}}</h1>
<!-- <<< Change this to dynamic -->
<img src="../../../assets/images/loading.gif" width="200px" height="200px" *ngIf="!myProfile">
<ng-container *ngIf="myProfile">
  <img src="{{myProfile.profileImageThumb}}" alt="{{myProfile.profileImageThumb}}">
  <p>ID: {{myProfile._id || "Loading..."}}</p>
  <p>Full Name: {{myProfile.fullName || "Loading..."}}</p>
  <p>Username: {{myProfile.username || "Loading..."}}</p>
  <p>Email: {{myProfile.email || "Loading..."}}</p>
</ng-container>


<!-- change the title to update dinamically signin method dynamically -->
