<div class="col-md-6 .offset-md-3" style="display: inline-block">
  <h1 class="cover-heading">Example App.</h1>
  <p class="lead">Lorem ipsum dolor sit amet, ipsum nunc leo ut phasellus vestibulum augue, vivamus wisi, quis dolor nonummy dolor ut vestibulum,
    est ultrices dapibus purus risus, pede ut. Ante ullamcorper, velit ullamcorper nisl diam, sem est, rhoncus nunc fermentum
    libero, diam aliquet dolor neque.</p>
  <p class="lead">
    <a class="btn btn-lg btn-primary" routerLink="/login" routerLinkActive="active">Start Now!</a>
  </p>
</div>
