.color-white{
  color:white;
}
.error-notifications{
  margin-bottom: 10px;
  margin-top: -20px;
  text-align: left;
}
.modal-body{
  background: #2d163b;
  color: white;
}
.modal-footer,
.modal-header{
  background: white;
  color: black;
}
