.color-white {
  color: white;
}

.form-buttons {
  flex-flow: row;
  justify-content: end;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 4px;
}

.form-buttons a {
  margin-right: 20px;
}

.error-notifications {
  margin-bottom: 10px;
  margin-top: -20px;
  text-align: left;
}

.modal-body {
  background: #2d163b;
  color: white;
}

.modal-footer,
.modal-header {
  background: white;
  color: black;
}

@media (min-width: 768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
}
.omb_socialButtons {
  flex-flow: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.omb_socialButtons .omb_btn-facebook {
  background: #3b5998;
  margin-right: 20px;
  color: white; // In yourUse @body-bg
  opacity: 0.8;
  cursor: pointer;
}
.omb_socialButtons .omb_btn-facebook:hover {
  opacity: 1;
}

.omb_socialButtons .omb_btn-twitter {
  background: #00aced;
  margin-right: 20px;
  color: white; // In yourUse @body-bg
  opacity: 0.8;
  cursor: pointer;
}
.omb_socialButtons .omb_btn-twitter:hover {
  opacity: 1;
}

.omb_socialButtons .omb_btn-instagram {
  background: #c13584;
  color: white; // In yourUse @body-bg
  opacity: 0.8;
  cursor: pointer;
}
.omb_socialButtons .omb_btn-instagram:hover {
  opacity: 1;
}
