<div class="col-md-6 .offset-md-3" style="display: inline-block">
  <h1 class="cover-heading">Login Form</h1>

  <div class="row omb_socialButtons">
    <div>
      <button class="btn btn-lg btn-block omb_btn-facebook custom-button-width">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </button>
    </div>
    <div>
      <button class="btn btn-lg btn-block omb_btn-twitter custom-button-width">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </button>
    </div>

    <div>
      <button class="btn btn-lg btn-block omb_btn-instagram custom-button-width">
			        <i class="fa fa-instagram visible-xs"></i>
			        <span class="hidden-xs">Instagram</span>
		        </button>
    </div>
  </div>

  <form class="form-horizontal" role="form" #loginForm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group has-danger">
          <label class="sr-only" for="email">E-Mail Address</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
            <input type="text" name="email" class="form-control" id="email" placeholder="you@example.com" required autofocus>
          </div>
        </div>
      </div>
    </div>

    <div class="error-notifications">
      <div class="form-control-feedback">
        <span class="text-danger align-middle">
          <i class="fa fa-close"></i> Example error message
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="error-notifications">
    <div class="form-control-feedback">
      <span class="text-danger align-middle">
          <i class="fa fa-close"></i> Example error message
        </span>
    </div>
  </div> -->

    <div class="row">
      <div class="col-md-12" style="text-align: left">
        <a href="#" data-toggle="modal" data-target="#forgottenPass" style="cursor:pointer" i18n="Login forgotPass|Button forgot password@@btnForgotPass">
                Forgot Password?
        </a>
      </div>
    </div>

    <div class="row form-buttons" style="padding-top: 1rem; margin-top:0">
      <a class="btn btn-lg btn-danger custom-button-width" routerLink="/register" routerLinkActive="active"><i class="fa fa-user-plus"></i> Register</a>
      <button type="submit" class="btn btn-lg btn-success custom-button-width"><i class="fa fa-sign-in"></i> Login</button>
    </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="forgottenPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" i18n="Modal title|Title for Modal@@titleLoginModal">Forgotten Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" i18n="Modal body|Body for Modal@@bodyLoginModal">
        Send an email to <a href="mailto:fmartinez@tekmexico.com">fmartinez@tekmexico.com</a> to ask for a password reset.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="cursor:pointer" i18n="Modal button|Button for closing Modal@@btnCloseLoginModal">Close</button>
      </div>
    </div>
  </div>
</div>
